<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Study_Helper</title>
</head>
<body>
    <div class='wrapper'>
        <header>
            <div class="title">
                <h1>Study_Helper</h1>
                <h2>Делу время, потехе час.</h2>
            </div>
            <nav>
                <ul class="menu">
                    <ol class="about">
                        <a href="{{url_for('about_us_showing')}}" class="about_menu-text">О сайте</a>
                    </ol>
                    <ol class="doc">
                        <a href='#' class="doc_text">Работа с .doc</a>
                    </ol>
                    <ol class="transform">
                        <a href="{{url_for('into_text_showing')}}" class="transform_text">Перевод в текст</a>
                    </ol>
                    <ol class="timetable">
                        <a href="{{url_for('timetable_showing')}}" class="timetable_text">Расписание</a>
                    </ol>
                    <ol class="recom">
                        <a href="{{url_for('recom_showing')}}" class="recom_text">Советы</a>
                    </ol>
                    <ol class="sites">
                        <a href='#' class="sites_text">Сайты</a>
                        <ul>
                            <ol>
                                <a href="https://vpr.sdamgia.ru/">Решу ВПР</a>
                            </ol>
                            <ol>
                                <a href="https://oge.sdamgia.ru/">Решу ОГЭ</a>
                            </ol>
                            <ol>
                                <a href="https://ege.sdamgia.ru/">Решу ЕГЭ</a>
                            </ol>
                            <ol>
                                <a href="https://obrazovaka.ru/books">Краткое содержание</a>
                            </ol>
                            <ol>
                                <a href="https://biouroki.ru/workshop/crossgen.html">Кроссворд</a>
                            </ol>
                        </ul>
                    </ol>
                    <ol class="settings">
                        <a href="{{url_for('settings_showing')}}" class="settings_text">Настройки</a>
                    </ol>
                </ul>
            </nav>
        </header>
        <content>
            <div class="content_doc">
                <h2>Работа с документами</h2>
                <p>Введите запрос</p>
                <input type="text">
                <button>Поиск</button>
                <p>Введите название Word документа без .docx</p>
                <input type="text">
                <p>Введите ссылки на необходимый сайт через Enter</p>
                <textarea></textarea><br>
                <button>Начать</button>
                <p>Скаченные файлы вы можете либо соединить вместе, либо переместить весь текст в презентацию</p>
                <div class="drag_drop-word">
                    <div class="summ">
                        <p>Слияние Word файлов</p>
                    </div>
                </div>
                <div class="drag_drop-pres">
                    <div class="presentation">
                        <p>Создание презентации из текста файла(ов)</p>
                    </div>
                </div>
            </div>
        </content>
        <footer>
            <div class="call_me">
                <div class="telephone">
                    <p>Телефон</p>
                    <a href="tel:">+7-923-666-23-45</a>
                </div>
                <div class="contacts">
                    <p class="contacts_text">Контакты</p>
                    <a href="https://web.whatsapp.com/" class="logo1">
                        {% if color == 'green' %}
                            <img src="{{ url_for('static', filename='styles/img/light/green/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'blue' %}
                            <img src="{{ url_for('static', filename='styles/img/light/blue/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'brown' %}
                            <img src="{{ url_for('static', filename='styles/img/light/brown/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'grey' %}
                            <img src="{{ url_for('static', filename='styles/img/light/grey/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'human' %}
                            <img src="{{ url_for('static', filename='styles/img/light/human/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'orange' %}
                            <img src="{{ url_for('static', filename='styles/img/light/orange/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% elif color == 'pink' %}
                            <img src="{{ url_for('static', filename='styles/img/light/pink/whatsap-icon.png') }}" alt="рисунок WhatsApp">
                        {% endif %}
                    </a>
                    <a href="https://vk.com" class="logo2">
                        {% if color == 'green' %}
                            <img src="{{ url_for('static', filename='styles/img/light/green/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'blue' %}
                            <img src="{{ url_for('static', filename='styles/img/light/blue/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'brown' %}
                            <img src="{{ url_for('static', filename='styles/img/light/brown/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'grey' %}
                            <img src="{{ url_for('static', filename='styles/img/light/grey/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'human' %}
                            <img src="{{ url_for('static', filename='styles/img/light/human/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'orange' %}
                            <img src="{{ url_for('static', filename='styles/img/light/orange/vk-icon.png') }}" alt="рисунок VK">
                        {% elif color == 'pink' %}
                            <img src="{{ url_for('static', filename='styles/img/light/pink/vk-icon.png') }}" alt="рисунок VK">
                        {% endif %}
                    </a>
                    <a href="https://www.viber.com/" class="logo3">
                        {% if color == 'green' %}
                            <img src="{{ url_for('static', filename='styles/img/light/green/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'blue' %}
                            <img src="{{ url_for('static', filename='styles/img/light/blue/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'brown' %}
                            <img src="{{ url_for('static', filename='styles/img/light/brown/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'grey' %}
                            <img src="{{ url_for('static', filename='styles/img/light/grey/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'human' %}
                            <img src="{{ url_for('static', filename='styles/img/light/human/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'orange' %}
                            <img src="{{ url_for('static', filename='styles/img/light/orange/viber-icon.png') }}" alt="рисунок viber">
                        {% elif color == 'pink' %}
                            <img src="{{ url_for('static', filename='styles/img/light/pink/viber-icon.png') }}" alt="рисунок viber">
                        {% endif %}
                    </a>
                    <a href="https://web.telegram.org/k/" class="logo4">
                        {% if color == 'green' %}
                            <img src="{{ url_for('static', filename='styles/img/light/green/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'blue' %}
                            <img src="{{ url_for('static', filename='styles/img/light/blue/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'brown' %}
                            <img src="{{ url_for('static', filename='styles/img/light/brown/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'grey' %}
                            <img src="{{ url_for('static', filename='styles/img/light/grey/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'human' %}
                            <img src="{{ url_for('static', filename='styles/img/light/human/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'orange' %}
                            <img src="{{ url_for('static', filename='styles/img/light/orange/telegram-icon.png') }}" alt="рисунок telegram">
                        {% elif color == 'pink' %}
                            <img src="{{ url_for('static', filename='styles/img/light/pink/telegram-icon.png') }}" alt="рисунок telegram">
                        {% endif %}
                    </a>
                    <a href="https://discord.com/" class="logo5">
                        {% if color == 'green' %}
                            <img src="{{ url_for('static', filename='styles/img/light/green/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'blue' %}
                            <img src="{{ url_for('static', filename='styles/img/light/blue/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'brown' %}
                            <img src="{{ url_for('static', filename='styles/img/light/brown/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'grey' %}
                            <img src="{{ url_for('static', filename='styles/img/light/grey/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'human' %}
                            <img src="{{ url_for('static', filename='styles/img/light/human/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'orange' %}
                            <img src="{{ url_for('static', filename='styles/img/light/orange/discord-icon.png') }}" alt="рисунок discord">
                        {% elif color == 'pink' %}
                            <img src="{{ url_for('static', filename='styles/img/light/pink/discord-icon.png') }}" alt="рисунок discord">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="year">
                <p class="year_text">Study_Helper - 2023</p>
            </div>
        </footer>
    </div>
</body>
</html>
