*{margin: 0 auto; padding: 0; font-size: 20px; cursor: default;}
body{background-color: whitesmoke;}
.wrapper{width: 80%; background-color: white; position: relative;}
a{text-decoration: none; color: black; cursor: pointer;}
a:hover{color: white;}
textarea{font-size: 20px;}
img{width: 50px;}


/* --- HEADER ---*/
h1{font-size: 50px;}
h2{font-size: 20px;}
header > .title{border: 1px black solid; 
    text-align: center;padding: 20px 0 20px 0;}

ul.menu{width: 100%; margin: 10px 0 30px -20px;
    display: flex; justify-content: space-between; flex-wrap: wrap;}
nav > ul > ol{padding: 5px 20px;
    background-color: lightgreen; float: left; display: flex;
    font-size: 20px; border: 1px black solid;}

ol.sites > ul{display: none; padding-right: 10px;}
ol.sites:hover > ul{background-color: lightgreen; width: 130px;
    display: flex; /*flex-direction: column;*/ align-self: flex-start; padding: 0;
    position: absolute;font-size: 20px; margin: 35px 0 0 -20px;}
ol.sites:hover > ul > ol{padding: 5px 10px 5px 30px; width: auto;
    border: 1px black solid; display: flex;}


/* --- CONTENT ---*/

/*SIGN_IN*/
.wrapper-signin{width: 60%; margin-top: 100px; position: relative;
    background-color: lightgreen; padding-left: 50px;
    border-radius: 20px; border: 1px solid black;}
.content_signin{width: 500px; height: 100px; margin-left: 20px;}
.wrapper-signin > h1{margin-top: 10px;}
p.wrong{color: red;}
.wrapper_signin > h2{text-align: center; margin-top: 10px;}
.wrapper_signin .content_signin > button{display: block; position: absolute;
    padding: 5px 10px 5px 10px; border-radius: 10px;
    background-color: blanchedalmond; margin-top: 10px;}
/*.content_signon > button{padding: 5px 75px;}*/
.wrapper_signin > input{width: 90%;margin-left: 5%; 
    border-radius: 10px; padding: 5px 20px;}
.wrapper_signin > p{margin: 10px 0 0 5%;}       

/*ABOUT_US*/
.content_about{font-size: 20px; margin-left: 50px; position: relative;}
.content_about > h2{font-size: 30px; font-weight: bold;}
.content_about > ol{padding-top: -50px;}
.content_about > li{float: left;}
.content_about > img{width:100px; display: block; padding-left: 20px;}

/*DOC*/
.content_doc{margin-left: 50px; position: relative; font-size: 20px;}
.content_doc > h2{font-size: 30px; font-weight: bold;}
.content_doc > p{margin-top: 25px;}
.content_doc > button{padding: 0 10px;}
.content_doc > textarea{width: 50%; height: 150px;}
.drag_drop-word, .drag_drop-pres{background-color: #e0ffcc; 
    border: 1px black solid;width: 400px; height: 300px; color: #808080;
    text-align: center; float: left; margin-bottom: 40px;}
.drag_drop-pres{float: none; position: relative; left: 20%;}
.summ > p, .presentation > p{display: block; width: 50%; margin-top: 80px;}

/*INTO_TEXT*/
.content_text{margin-left: 20px; height: 750px; display: flex; color: #808080;}
.content_text-title > h2{font-size: 30px; font-weight: bold; margin-left: 50px; display: block;}
.text_image > button, 
.text_audio > button{width: 400px; margin: 25px 0; padding: 10px 0;}
.text_image > textarea, 
.text_audio > textarea{width: 400px; height: 300px;}
.image_area, .audio_area{width: 400px; height: 300px;
    background-color: #e0ffcc; text-align: center;
    border: 1px black solid;}
.image_area > p, .audio_area > p{display: block; width: 50%;margin-top: 80px;}

/*TIMETABLE*/
.content_timetable > h2{font-size: 30px; font-weight: bold; margin-left: 50px;}
.timetable_week > p{float: left; margin-right: 11%;}
.content_timetable > button{padding: 10px;margin: 30px 0 0 30px;
    background-color: white; border-radius: 15px;}
button.right_side{margin-left: 20%;}
.timetable_main{margin-left: 31%;}
.timetable_number > p{float: left; margin: 20px 13% 0 0;}
.vertical_line{margin-left: 10%;padding-right: 5px;
    border-right: 1px solid black;}
.content_timetable > h1{margin-bottom: 20px;}
p.error{text-align: right; color: red;}
p.complete{color: green; text-align: right; margin: -50px 20px 0 0;}
.timetable_main > hr{margin-top: 80px;}
.content_timetable > h3{text-align: right; margin: 10px 0;}
.timetable_writing{position: absolute; top: 430px;width: 30%; font-size: 10px;}
.timetable_writing > textarea{height: 300px; width: 100%;}

/*RECOM*/
.content_recom{height: 350px;}
.content_recom > center > button{padding: 5px 20px; margin: 30px 0 40px 0;}
.content_recom > p{text-align: center;}

/*SETTINGS*/
.content_settings{margin-left: 40px;}
.content_settings > p, .content_settings > h2{font-size: 30px;}
p.theme_title, p.colors_title{display: inline-block;}
.content_settings > button{margin-bottom: 20px; padding: 5px 10px;}
.content_settings > textarea{width: 600px; height: 150px;}
.content_settings > p.right{font-size: 25px; color: green;}
button.quit{background-color: crimson; color: whitesmoke;}
.content_settings > .colors{width: 250px; height: 50px; border-radius: 10px;
    border: 1px black solid; display: inline-block; margin-left: 20px;}
.green{width: 20px; height: 20px; background-color: #90ee90; border-radius: 50%; border: 0; margin-left: 10px;}
.blue{width: 20px; height: 20px; background-color: #007ba4; border-radius: 50%; border: 0; margin-left: 10px;}
.brown{width: 20px; height: 20px; background-color: #807762; border-radius: 50%; border: 0; margin-left: 10px;}
.grey{width: 20px; height: 20px; background-color: #a8a8a8; border-radius: 50%; border: 0; margin-left: 10px;}
.human{width: 20px; height: 20px; background-color: #d6c97d; border-radius: 50%; border: 0; margin-left: 10px;}
.pink{width: 20px; height: 20px; background-color: #e38690; border-radius: 50%; border: 0; margin-left: 10px;}
.orange{width: 20px; height: 20px; background-color: #d66f14; border-radius: 50%; border: 0; margin-left: 10px;}
.content_settings > .theme{width: 80px; height: 50px; border-radius: 10px;
    border: 1px black solid; display: inline-block; margin-left: 20px;}
.dark{width: 20px; height: 20px; background-color: #000; border-radius: 50%; border: 1px black solid; margin-left: 10px;}
.light{width: 20px; height: 20px; background-color: #fff; border-radius: 50%; border: 1px black solid; margin-left: 10px;}


/* --- FOOTER ---*/
footer{background-color:rgb(63, 63, 63); 
    color: white; text-align: center;}
.call_me{display: flex; margin-bottom: 20px; padding-top: 30px;}
.telephone > a{color: white;}
.contacts > a{display: flex; border-radius: 50%; width: 60px; float: left;
    background-color: white; border: 1px black solid; height: 60px;}
.contacts > img{border-radius: 50%; width: 50px; height: 50px; display: block;}
footer > .year{background-color: grey;}
.year > p{text-align: center;}
footer > a{color: white;}
